.bg-1 {
 background-image: url("http://www.crafton.eu/outsource/3d/res/img/background_big.jpg");
    color: #ffffff;
}

/* space between border and innermost layer*/
.main {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* navigation bar text styling and positioning on the page */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-style:normal;
    font-size: 12px;
    letter-spacing: 2px;
}

/* the colour the font changes to when the mouse hovers over the links in the navigation bar */
.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* size of the top margin */
.well-sm {
    margin-top: 5px;
}

.bg-2 {
    border:0;
    border-radius: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    text-align: left;
    font-weight:bold;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow:visible;
}

/* landing page styling */
body {
    background-image: url(http://www.crafton.eu/outsource/3d/res/img/background_big.jpg);
    height:100vh;
    background-size:cover;
    margin-bottom: 50px;
}

.content {
    margin: 10px;
    margin-top: 5em;
    line-height: 30;
}

#aboutmeheading {
    padding:10px 10px 10px;
    padding-left: 10px;
    margin:auto;
    text-align: center;
    color:#1abc9c;
    font-size: 60px;
    font-weight:bold;
}

#footercontent {
    color:#1abc9c;
    font-weight:bold;
    font-style:normal;
    text-transform:uppercase;
    font-size:15px;
    letter-spacing:2px;
    text-align: center;
}

/* footer background colour */
.bg-4 {
    background-color: #ffffff;
} 

/* hilighting the content in a specific colour when the mouse is dragged over it */
::selection {
background:#1abc9c;
color:#555;
}

/* browser specific styling - Mozilla Firefox */
::-moz-selection {
background:#1abc9c;
color:#555;
}
/* browser specific styling - Safari, Google Chrome and Opera */
::-webkit-selection {
background:#1abc9c;
color:#555;
}

/* styling font */ 
#fullnameheading {
    font-size:76px;
    font-weight: bold;
    justify-content:center;
    letter-spacing: 5px;
}

/* styling font */ 
#coursetitleheading { 
    font-size:60px;
    font-weight:bold;
    letter-spacing: 5px;
}

/* styling font and specifying the space around it */ 
#workportfolioheading {
    padding:10px 10px 10px;
    padding-left: 10px;
    margin:auto;
    text-align: center;
    color:#1abc9c;
    font-size: 60px;
    font-weight:bold;
    text-transform:uppercase;
}

/* text color and capitalisation of first letter of word */
#portfoliosubheading {
    color:white;
    text-transform:capitalize;
}

#p1heading {
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}

.container-fluid .jumbotron {
    border-radius: 0;
}

#intro1 {
    text-align:center;
    line-height:60%;
}

#intro2 {
    text-align:center;
    line-height:60%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
.container.project-description {
    padding-right:15px;
    padding-left: 15px;
    margin-right:auto;
    margin-left:auto;
}  

/* margin size top and left */
.featurette-divider {
    margin:10px 0;
}

hr {
    padding-top:5;
    display:block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto; 
}

/* styling text */ 
#gallery-heading {
    color:#1abc9c;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
    margin-top:5px;
    padding-bottom:0px;
    letter-spacing:2px;
}

/* styling text */ 
#subheading {
    text-align:center;
    text-transform:capitalize;
    font-weight:bold;
    color:#1abc9c;
    letter-spacing: 1px;
}

/* styling text */ 
#image-1-heading {
    color:#1abc9c ;
    text-transform:capitalize;
    font-weight:bold;
    text-align:center;
    margin-top:10px;

}

/*styling text */
#image-2-heading {
    color:#1abc9c;
    text-transform:capitalize;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
}

#image-3-heading {
    color:#1abc9c;
    text-transform:capitalize;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
    
}

/* specifying the size of the image */
.images-research {
    width:1000px;
    height:1000px;
    
}

.well-sm {
    margin-top:7px;
    text-transform:capitalize;
}

/* make navigation bar branding uppercase */
.navbar-brand {
    text-transform:uppercase;
}

/* styling the font wrapped in the panel and the postioning of the panel itself */
.panel {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    font-weight:bolder;
    color:#1abc9c;
}

/* positioning buttons (1,2 and 3) above the page footer */
#button-one {
    margin-bottom:10px;
    
}

#button-one-close {
    margin-bottom:10px;
}

#button-two {
    margin-bottom:10px;
}

#button-two-close {
    margin-bottom:10px;
}

#button-three {
    margin-bottom:10px;
}

#button-three-close {
    margin-bottom:10px;
}

/* specifies height for images in carousel */
.carousel-inner {
    height:600px;
}

/* Makes the whole text uppercase */
.bg-7 {
    text-transform:uppercase;
}

.well contact {
    color:#1abc9c;
    text-align: center;
}

