<!---- calling Jinja base template ---> 
{% extends 'base.html' %}
<!--- nav bar block -->
{% block navbar%}
<!---- navigation bar ----->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="home.html">PERSONAL PORTFOLIO</a>
    </div>
<!---- make the navigation bar collapsible on smaller screens --->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('workPortfolio') }}"> work portfolio</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </div>
  </div>
  </nav>
<!---- end of nav bar block -->  
{% endblock%}
<!---- content block --> 
{% block content%}
<!---- page title wrapped within container fluid so it spans the entire viewport ---->
  <div class="container-fluid bg-3 text-center">
    <h3 id="aboutmeheading">ABOUT ME</h3>
  </div>
<!---- bootstrap wells wrapped in containers ----> 
  <div class="container">
    <div class="well well-lg aboutme"><em>Hello and welcome to my personal development portfolio.</em> Where i will be documenting my experiences as a Business information technology student at Coventry university. Striving towards attaining my dream career aspiration of working within the I.T sector.
    </div>
  </div>
  
  <div class="container">
    <div class="well well-lg aboutme2"><em>As you browse through the subpages of this portfolio.</em> You will find copies of my CV before i began university and a current copy, a portfoilio of work that i have completed over the duration of my first year, a reflection of my experience so far and a contact form in case you are interested in getting in contact or even just to say hello!</div>
  </div>

<div class="container">
  <div class="well well lg aboutme3"><em>I have been described as being a very driven and motivated individual by those closest to me.</em> I would agree i am striving towards being the best person and most importantly student that i can be so that i can embark on a successful career in the IT industry. Persistently acknowledging how i can refine myself as a person to be the best that i possibly can.</div>
</div>

<div class="container">
  <div class="well well lg aboutme4"><em>I like to take an innovative approach.</em> Particularly with regards to engaging with more difficult content and modules, this being directly transferable within the professional world, in relation to I.T where theres many instances where the solution to issues encountered aren't set in stone and often requires thinking outside the box.</div>
 </div>
</div>

<div class="container">
  <div class="well well-lg aboutme5"><em>As i progress further onto the course, I intend to regularly update this personal development portfolio.</em> In order to effectively convey how i develop during the duration of the course and beyond. Another long term goal is to successfully complete a professional placement year within a large organisation such as: IBM, Google etc, the list of posibilities is endless. Similarly the previously mentioned, mirrors my end goal following completion of the course, i would love to have an I.T job such as an: I.T project manager or It business analyst within a large scale IT firm</div>
</div>

<div class="container">
  <div class="well well-lg aboutme6"><em>I am currently completing my second year of university.</em> Once the academic year has come to an end I intend to update this portfolio with an overview of my second year university experience. Providing an insight into the modules studied this year and the skills obtained as a result of participation.</div>
</div>

<div class="container">
  <div class="well well-lg aboutme7"><em>Finally, following on from the second academic year of university I will be undertaking a 12 month industrial placement.</em> For the duration of this placement I will be undertaking the role of an IT project manager. During regular intervals of the placement I will be writing content detailing my experence and the skills and content learned as a result. </div>
</div>
<!--- end of content block ---> 
{% endblock %}
<!--- footer block-->
{% block footer %} 
<!---- footer placed within container fluid so it spans the entire viewport ---->
<footer class="container-fluid bg-4 text-center">
  <p id=footercontent> Safiyah A Khan     -  <span style="color:#424242">Personal-portfolio</span>

   <!---- placed at the bottom to improve page response ---->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!---- end of footer block ---> 
{% endblock %}