
<!DOCTYPE html>
<html lang="en">
<!--- head block --->
{% block head %}    
<head>
  <title>About Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
</head>
<!--- end of head block -->
{% endblock %} 
<!-- navigation bar block --->
{% block navbar%}
<!-- end of navigation bar block --->
{% endblock %}
<!--- content block --> 
{% block content %}
<!--- end of content block --->
{% endblock%}
<!--- footer block --->
{% block footer %}
<!----end of footer block --> 
{% endblock %}