<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!---- link html page to CSS stylesheet --->
  <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
</head>
<body>
<!--- navigation bar ---->   
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="home.html">Personal portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About Me</a></li>
        <li><a href="{{ url_for('workPortfolio') }}">Work portfolio</a></li>
      </ul>
    </div>
  </div>
  </nav>

  <div class="container-fluid bg-7 text-center">
<!--- define HMTL heading style and give an ID ----> 
    <h3 id="aboutmeheading">Contact Me</h3>
  </div>

<!---- wrap well within a responsive fixed width container ---> 
 <div class="container">
    <div class="well well-lg contact"><strong>COMING SOON</strong></div>
  </div>
  