<!---- calling Jinja base template ---> 
{% extends 'base.html' %}
<!--- nav bar block -->
{% block navbar %} 
<!---- when the page loads start the JS clock --->
<body onload="startTime()">
<!------ panel containing JS clock ----->
<div id="Clock" class="panel"></div>
  
<!----navigation bar----->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="#">Personal portfolio</a>
    </div>
<!---- make the navigation bar collapsible on smaller screens --->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
<!---- links to other pages within the website ----->
        <li><a href="{{ url_for('about') }}">About Me</a></li>
        <li><a href="{{ url_for('workPortfolio') }}">work portfolio</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </div>
  </div>
  </nav>
<!---- end of nav bar block -->
{% endblock %}
<!---- content block --> 
{% block content %}
<!---- Central content of page placed within container fluid spanning entire viewport ----->
  <div class="container-fluid bg-1 text-center">
    <header id="top" class="header">
    <div class="content">
      <h1 id="fullnameheading">SAFIYAH ALI KHAN</h1>
<!---- Image specifications: size: width, height and shape ----->
      <img src="static/images/IMG-20151027-WA0005.jpg" class="img-circle" alt="self-portrait" width="350" height="350">
      <h2 id="coursetitleheading">Business Information Technology (BSc)</h2>
    </div>
</div>
<!--- end of content block ---> 
{% endblock %}
<!--- footer block-->
{% block footer %} 
  <!---- placed at the bottom to improve page response ---->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!---- link html to JavaScript file---->
   <script src="static/js/main.js"></script>
<!---- end of footer block ---> 
{% endblock %}
