<!---- calling Jinja base template ---> 
{% extends 'base.html' %}
<!--- nav bar block -->
{% block navbar %}  
<!------ Navigation bar------> 
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="home.html">PERSONAL PORTFOLIO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About Me</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </div>
  </div>
  </nav>
<!---- end of nav bar block -->
{% endblock %}
<!---- content block --> 
{% block content%}
  <!------ Page heading------>
  <div class="container-fluid bg-6">
    <div class="row">
<!--- Bootstrap Jumbotron placed in a container fluid so it spans the whole viewport --->
    <div class="jumbotron">
    <h3 id="workportfolioheading">Work Portfolio</h3>
    <p id="intro1">This gallery will comprise of a portfolio in the form of an image gallery and accompanying descriptions.</p>
   </div>
   </div>
  </div>

<!--- image carousel --->
<div class="row">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="static/images/python-SQL.jpg" alt="Project one" width="100" height="100">
    </div>

    <div class="item">
      <img src="static/images/Research-API.jpg" alt="Project two" width="100" height="100">
    </div>

    <div class="item">
      <img src="static/images/telecom-research.jpg" alt="Project three" width="100" height="100">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!--- container for page featuretter-divider ---->
 <div class="container">
   <hr class="featurette-divider">
   <hr size="6">
 

<div class="container-fluid" bg-7>
<!--- page heading placed inside containter fluid so it spans the whole viewport --->
  <h3 id ="gallery-heading">Gallery of group projects</h3>
<!----- bootstrap medium sized well to display text --->
  <div class="well well-md">The wells below provide a more indepth description to accompany the diagrams displayed in the carousel above.Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.  Moreover within the further detailing reflective accounts have been included to provide a direct insight into my first year of university.</div>
  <div class="row">
<!----- bootstrap three column gallery --->
    <div class="col-sm-4">
      <h3 id ="image-1-heading">group project one</h3>
      <div class="well well-sm">For this particular ALL (activity led learning) group project we were required to act as a business intelligence agency providing a service to a particular business within a sector of choice. We were required to aid in gaining competitive advantage, provide business intelligence and other beneficial services which would enable companies in the chosen sector to make beneficial moves within the industry.</div>
<!--- JS button to display additional data for the show hide feature ---->
      <button class="btn btn-default" id="button-one">More</button>
<!---- display set to none so the user has to click on the button ---->
    <div class="well well-sm" id="col-one" style="display:none;">As this was the first group project team work skills were really put to the test as we were required to become acquainted with one another and ensure that all specified tasks within the brief were completed to a high standard. My ability to adapt quickly and work well with new people and within a team environment is a key skill for industry. </div>
    <button class="btn btn-danger" id="button-one-close" style="display:none;">Close</button>
   </div>
   <div class="col-sm-4">
     <h3 id="image-2-heading">group project two</h3>
    <div class="well well-sm">for the second group project we were required to create a data processing tool which would effectively download financial data, sort data and convert to a CSV file. As a group we produced both a technical component and a report documenting how the tool works, service provision of the tool to the client and background research regarding usage of similar software within the real world.</div>
    <button class="btn btn-default" id="button-two">More</button>
<div class="well well-sm" id="col-two" style="display:none;">As part of the project we were required to background research the software component which we were going to create. Undertaking this research enabled me to refine my written communication skills ensuring that i presented my research finding in the most concise manner and referenced according to the correct CU harvard referencing style.</div>
 <button class="btn btn-danger" id="button-two-close" style="display:none;">Close</button>
  </div>
  <div class="col-sm-4">
    <h3 id="image-3-heading">group project three</h3>
    <div class="well well-sm">orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
    <button class="btn btn-default" id="button-three">More</button>
    <div class="well well-sm" id="col-three" style="display:none;">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. </div>
<!---- JS DOM function to hide the additional data---->  
 <button class="btn btn-danger" id="button-three-close" style="display:none;">Close</button>
  </div>
</div>
</div> 
<!--- end of content block ---> 
{% endblock %}
<!--- footer block-->
{% block footer %}    
<!------ container-fluid for page footer content ---->
<footer class="container-fluid bg-4 text-center">
  <p id=footercontent> Safiyah A Khan     -  <span style="color:#424242">Personal-portfolio</span>
  
  <!---- placed at the bottom to improve page response ---->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="static/js/main.js"></script>
<!---- end of footer block ---> 
{% endblock %}